extends ../base
include ../mixins/comment

block content
    div.video__container
        div.video__main
            div#videoContainer(data-id=video._id)
                if isHeroku
                    video(src=video.fileUrl, poster=video.thumbUrl) 
                else 
                    video(src="/" + video.fileUrl) 
                div#videoControls.videoControls.showing
                    div.videoControls__top
                        input(type="range",step="0.01", value="0", min="0")#timeline.videoControls__timeline
                        div.videoControls__time
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div.videoControls__bottom
                        span#play.videoControls__play
                            i.fas.fa-play
                        div.videoControls__volume
                            span#mute
                                i.fas.fa-volume-up
                            input(type="range",step="0.01", value=0.5, min="0", max="1")#volume
                        div
                        div.videoControls__playbackRate
                            select(name="playbackRate")#playbackRate
                                each rate in ["0.25","0.5","0.75","1","1.25","1.5","1.75","2"]
                                    if rate === "1"
                                        option(value=rate selected) #{rate}x
                                    else
                                        option(value=rate) #{rate}x
                        span#fullScreen.videoControls__fullScreen
                            i.fas.fa-expand

            div.video__data
                div.video__hashtags
                    each hashtag in video.hashtags
                        a(href=`hashtags/${hashtag}`) 
                            small ##{hashtag}
                h1.video__title=video.title
                div.video__meta
                    small.video__views Views #{video.meta.views} • 
                    small.video__createdAt #{new Date(video.createdAt).toLocaleString("ko-kr")} • 
                    small.video__likes
                        if video.meta.likes.indexOf(loggedInUser._id) === -1
                            i.fas.fa-thumbs-up#like
                        else 
                            i.fas.fa-thumbs-up.liek#like.like
                        span#likesCnt  #{video.meta.likes.length}
                a(href=`/users/${video.owner._id}`).video__owner
                    if isHeroku
                        img(src=video.owner.avatarUrl).video__avatar
                    else 
                        img(src="/" + video.owner.avatarUrl).video__avatar
                    span=video.owner.name
                span.video__description=video.description

                if String(video.owner._id) === String(loggedInUser._id)
                    a.video__edit(href=`${video.id}/edit`)
                        span Edit Video &rarr;
                    a.video__delete#deleteVideo(href=`${video.id}/delete`)
                        span Delete Video &rarr;

        div
            div.video__comments
                h1 Comments
                if loggedIn
                    div.video__add-comments
                        form.video__comment-form#commentForm
                            textarea(cols="30", rows="10", placeholder="Write a comment here...")
                            button.video__comment-btn Add Comment

                ul.video__comments-list
                    each comment in comments.reverse()
                        +comment(comment)
                    else 
                        if !loggedIn
                            p No comments found.


block scripts 
    script(src="/static/js/videoPlayer.js") 
    if loggedIn
        script(src="/static/js/commentSection.js") 
        script(src="/static/js/likeSection.js") 