mixin comment(comment)
    li.comment-mixin
        a(href=`/users/${comment.owner._id}`)
            if comment.owner.avatarUrl.includes("github")
                img(src=comment.owner.avatarUrl).comment-mixin__avatar
            else 
                img(src="/" + comment.owner.avatarUrl).comment-mixin__avatar
        div.comment-mixin__data(data-id=comment._id)
            div.comment-mixin__meta
                span.comment-mixin__name=comment.owner.name
                div 
                    span=getElapsedTime(comment.createdAt, Date.now())
                    if String(comment.owner._id) === String(loggedInUser._id)
                        span  • 
                        span.comment__delete Delete
            span.comment-mixin__text=comment.text