mixin video(video)
    div.video-mixin
        a(href=`/videos/${video.id}`)
            div.video-mixin__thumb(style=`background-image:url(/${video.thumbUrl});background-size:cover;background-position:center`)
        div.video-mixin__data
            a(href=`/users/${video.owner._id}`)
                if video.owner.avatarUrl.includes("github") 
                    img(src=video.owner.avatarUrl).video-mixin__avatar
                else 
                    img(src="/" + video.owner.avatarUrl).video-mixin__avatar
            div
                span.video-mixin__title=video.title
                div.video-mixin__meta
                    span #{video.owner.name} • 
                    span #{video.meta.views} 회 • 
                    span #{getElapsedTime(video.createdAt, Date.now())} • 
                    span.video-mixin__likes
                        a(href=`/videos/${video.id}`)
                            if video.meta.likes.indexOf(loggedInUser._id) === -1
                                i.fas.fa-thumbs-up
                            else 
                                i.fas.fa-thumbs-up.liek.like
                        span  #{video.meta.likes.length}